{% extends 'main.html' %}

{% load static %}

{% block title %}Cek Khodam{% endblock title %}

{% block content %}
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-1">Cek Khodam Kamu</h4>
                    <p class="mb-4">Masukkan namamu dan lihat siapa khodammu</p>

                    <form id="formAuthentication" class="mb-3">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="email-username" placeholder="Siapa nama kamu??" autofocus />
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary d-grid w-100" type="button" data-bs-toggle="modal" data-bs-target="#modalCenter" onclick="submitForm()">Cek Khodam</button>
                        </div>
                    </form>

                    <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalCenterTitle">HASIL CEK KHODAM</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Nama</th>
                                                <td scope="row" id="modalName"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Khodam</th>
                                                <td scope="row" id="modalResponse"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="divider my-4">
                        <div class="divider-text">Follow Creator | ridwaanhall</div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <a href="https://www.instagram.com/ridwaanhall" target="_blank" class="btn btn-icon btn-label-facebook me-3">
                            <i class="tf-icons fa-brands fa-instagram fs-5"></i>
                        </a>

                        <a href="https://www.tiktok.com/@ridwaanhall" class="btn btn-icon btn-label-google-plus me-3">
                            <i class="tf-icons fa-brands fa-tiktok fs-5"></i>
                        </a>

                        <a href="https://www.linkedin.com/in/ridwaanhall/" class="btn btn-icon btn-label-linkedin">
                            <i class="tf-icons fa-brands fa-linkedin fs-5"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}

<script src="{% static 'js/ui-modals.js' %}"></script>

<script>
    function submitForm() {
        var name = $('#name').val();
        $.ajax({
            type: 'POST',
            url: "{% url 'input' %}",
            data: {
                'name-username': name,
                'csrfmiddlewaretoken': $('[name=csrfmiddlewaretoken]').val()
            },
            success: function(response) {
                $('#modalName').text(response.name);
                $('#modalResponse').text(response.response);
                $('#modalCenter').modal('show');
            },
            error: function(xhr, errmsg, err) {
                $('#modalName').text('Error');
                $('#modalResponse').text('There was an error processing your request.');
                $('#modalCenter').modal('show');
            }
        });
    }
    
    $(document).ready(function() {
        $('#formAuthentication').on('submit', function(event) {
            event.preventDefault();
            submitForm();
        });
    });
</script>

{% endblock %}
